name: "BuildJet Cache Share test"
on: push
jobs:
  store_gha_runner:
    name: "Store with GHA  Runner"
    runs-on: ubuntu-latest
    steps:
      - name: Store date in text-file
        run: mkdir ./store-this && date > ./store-this/date.txt
      - uses: buildjet/cache/save@v3
        with:
          path: ~/store-this
          key: gha-runner-cache-2

  restore_buildjet_runner:
    name: "Restore with BuildJet Runner"
    needs: [ store_gha_runner ]
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      - uses: buildjet/cache/restore@v3
        with:
          path: ~/store-this
          key: gha-runner-cache-2
      - name: Read date from text-file
        run: cat ~/store-this/date.txt
  tree_gha:
    name: "Show Dir tree"
    runs-on: ubuntu-latest
    steps:
      - name: Tree the home folder
        run: sudo apt install tree -y && tree -L 3
      - run: pwd
  test_buildjet:
    name: "Show Dir tree"
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      - name: Tree the home folder
        run: sudo apt install tree -y && tree -L 3 && sleep 4300
      - run: pwd
      - run: printenv
